<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xyf.dao.BankDao" >

  <insert id="add" parameterType="com.xyf.entity.manager.Bank">
    INSERT into bank (bank_name,bank_bonus,superior_bonus,img) VALUES ( #{bankName},#{bankBonus},#{superiorBonus},#{img})
  </insert>

  <update id="edit" parameterType="com.xyf.entity.manager.Bank">
    update bank set bank_name = #{bankName}, bank_bonus = #{bankBonus},superior_bonus=#{superiorBonus},img = #{img} where bank_id = #{bankId}
  </update>

  <delete id="delete" parameterType="com.xyf.dto.DeleteBankDTO">
    delete from bank where bank_id = #{bankId}
  </delete>

  <select id="list" resultType="com.xyf.entity.manager.Bank">
    select bank_id bankId,bank_name bankName,bank_bonus bankBonus,superior_bonus superiorBonus,img img from bank
  </select>

  <select id="getBonusByName" parameterType="java.lang.String" resultType="java.lang.Double">
    select bank_bonus bankBonus from bank where bank_name = #{bankName}
  </select>

</mapper>