<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xyf.dao.CacheBackDao" >

  <insert id="add" parameterType="com.xyf.entity.manager.Bank">
    INSERT INTO `wei`.`cache_back`
    (`cache_back_id`, `user_id`, `create_time`, `cache_back_bonus`)
    VALUES (#{cacheBackId}, #{userId}, #{createTime}, #{cacheBackBonus});
  </insert>



</mapper>