<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xyf.dao.CardDao" >


  <insert id="addCard" parameterType="com.xyf.dto.AddCardDTO" >
    INSERT INTO `card`
    (`card_number`, `bank_id`,`card_user_id`, `statement_date`, `repayment_date`,status,create_time)
    VALUES (#{cardNumber}, #{bankId}, #{cardUserId}, #{statementDate}, #{repaymentDate},#{status},#{createTime});
  </insert>

  <select id="cardList" parameterType="com.xyf.dto.UserPhoneDTO" resultType="com.xyf.entity.Card">
    select
    c.`card_id` cardId,c.`card_number` cardNumber,c.`bank_id` bankId,b.bank_name bankName, c.`card_user_name` cardUserName, c.`card_user_id` cardUserId, c.`bank_bonus` bankBonus,
    c.`statement_date` statementDate, c.`repayment_date` repaymentDate, c.`create_time` createTime, c.`status` status, c.`id_number` idNumber, c.`real_name` realName
    from card c LEFT JOIN bank b on c.bank_id = b.bank_id where card_user_id = #{userId}
  </select>

  <delete id="delete" parameterType="com.xyf.entity.Card">
    delete from card where `card_id` = #{cardId}
  </delete>

</mapper>