<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xyf.dao.UserDao">

    <insert id="insert" parameterType="com.xyf.dto.AddUserDTO">
        INSERT into user (username,password,phone,create_time,superior1,superior2,superior3)
        VALUES ( #{username},#{password},#{phone},#{createTime},#{superior1},#{superior2},#{superior3})
    </insert>

    <select id="verifyUsername" parameterType="com.xyf.dto.VerifyUsernameDTO" resultType="com.xyf.entity.User">
        SELECT user_id userId,username,password,phone,address,goods_number goodsNumber,balance,superior1,superior2,superior3,user_bonus userBonus
         from `user` WHERE username = #{username}
    </select>

    <select id="login" parameterType="com.xyf.dto.LoginDTO" resultType="com.xyf.entity.User">
        SELECT`user_id` userId, `username` userName, `phone` phone, `address` address, `goods_number` goodsNumber, `balance` userBalance, `superior1` , `superior2`, `superior3`, `user_bonus` userBonus, `use_card_bonus` useCardBonus, `level`, `create_time` createTime, `create_card_bonus` createCardBonus,cash_back_bonus cashBackBonus
         from `user` WHERE phone=#{phone} AND password = #{password}
    </select>

    <select id="getUserByPhone" parameterType="String" resultType="com.xyf.entity.User">
        SELECT `user_id` userId, `username` userName, `phone` phone, `address` address, `goods_number` goodsNumber, `balance` userBalance, `superior1` , `superior2`, `superior3`, `user_bonus` userBonus, `use_card_bonus` useCardBonus, `level`, `create_time` createTime, `create_card_bonus` createCardBonus,cash_back_bonus cashBackBonus
        FROM USER WHERE phone = #{phone}
    </select>

    <select id="getUserById" parameterType="java.lang.Integer" resultType="com.xyf.entity.User">
        SELECT `user_id` userId, `username` userName, `phone` phone, `address` address, `goods_number` goodsNumber, `balance` userBalance, `superior1` , `superior2`, `superior3`, `user_bonus` userBonus, `use_card_bonus` useCardBonus, `level`, `create_time` createTime, `create_card_bonus` createCardBonus,cash_back_bonus cashBackBonus
        FROM USER WHERE user_id=#{superior1}
    </select>
    
    <select id="getUsersByIds" parameterType="java.util.List" resultType="com.xyf.entity.User">
        SELECT `user_id` userId, `username` userName, `phone` phone, `address` address, `goods_number` goodsNumber, `balance` userBalance, `superior1` , `superior2`, `superior3`, `user_bonus` userBonus, `use_card_bonus` useCardBonus, `level`, `create_time` createTime, `create_card_bonus` createCardBonus,cash_back_bonus cashBackBonus
        FROM USER WHERE user_id in
        <foreach item="id" index="index" collection="list" separator="," open="(" close=")">
            #{id}
        </foreach>
        order by user_id
    </select>

    <update id="updatePassword" parameterType="com.xyf.dto.LoginDTO">
        UPDATE `user` set `password` = #{password} WHERE phone = #{phone}
    </update>

    <update id="updateUserLevel" parameterType="com.xyf.dto.InitPartnerDTO">
        UPDATE `user` set `level` = #{level}
        <if test="bonus != null">
            ,user_bonus = #{bonus}
        </if>
        WHERE phone = #{phone}
    </update>

    <update id="updateUserBonus" parameterType="com.xyf.dto.InitPartnerDTO">
        UPDATE `user` set `user_bonus` = user_bonus + #{monery} WHERE phone = #{phone}
    </update>

    <select id="getSuperior" parameterType="java.lang.Integer" resultType="com.xyf.entity.User">
        SELECT `user_id` userId, `username` userName, `phone` phone, `address` address, `goods_number` goodsNumber, `balance` userBalance, `superior1` , `superior2`, `superior3`, `user_bonus` userBonus, `use_card_bonus` useCardBonus, `level`, `create_time` createTime, `create_card_bonus` createCardBonus,cash_back_bonus cashBackBonus
         from `user` WHERE user_id=#{superior1}
    </select>

    <select id="selectSubordinate" parameterType="java.util.Map" resultType="com.xyf.entity.User">
        SELECT `user_id` userId, `username` userName, `phone` phone, `address` address, `goods_number` goodsNumber, `balance` userBalance, `superior1` , `superior2`, `superior3`, `user_bonus` userBonus, `use_card_bonus` useCardBonus, `level`, `create_time` createTime, `create_card_bonus` createCardBonus,cash_back_bonus cashBackBonus
         from `user` WHERE superior1 = #{userId}
    </select>

    <select id="selectUserInfo" parameterType="com.xyf.dto.UserPhoneDTO" resultType="com.xyf.entity.User">
        SELECT `user_id` userId, `username` userName, `phone` phone, `address` address, `goods_number` goodsNumber, `balance` userBalance, `superior1` , `superior2`, `superior3`, `user_bonus` userBonus, `use_card_bonus` useCardBonus, `level`, `create_card_bonus` createCardBonus,cash_back_bonus cashBackBonus
         from `user` WHERE user_id=#{userId}
   </select>

    <select id="users" resultType="com.xyf.entity.User" parameterType="com.xyf.dto.PageDTO">
        SELECT `user_id` userId, `username` userName, `phone` phone, `address` address, `goods_number` goodsNumber, `balance` userBalance, `superior1` , `superior2`, `superior3`, `user_bonus` userBonus, `use_card_bonus` useCardBonus,
        `level`, `create_time` createTime, `create_card_bonus` createCardBonus,cash_back_bonus cashBackBonus from `user`
        where 1=1
        <if test="phone != null">
            AND phone LIKE "%"#{phone}"%"
        </if>
        <if test="username != null">
            AND username LIKE "%"#{username}"%"
        </if>
    </select>

    <update id="updatereateCardBonusByPhone" parameterType="java.util.Map">
      UPDATE `user` set create_card_bonus = create_card_bonus + #{money} WHERE phone = #{phone}
    </update>

    <update id="updatCereateCardBonusByPId" parameterType="java.util.Map">
      UPDATE `user` set create_card_bonus = create_card_bonus + #{money} WHERE user_id = #{userId}
    </update>

    <update id="updateUseCardBonus" parameterType="java.util.Map">
      UPDATE `user` set use_card_bonus = use_card_bonus + #{money} WHERE user_id = ${userId}
    </update>

    <update id="updateCashBackBonus" parameterType="com.xyf.dto.CashEarningsDTO">
      UPDATE `user` set user_bonus= user_bonus + #{cashEarningsMoney} WHERE user_id = ${userId}
    </update>

    <select id="selectLevelId" parameterType="java.lang.Integer" resultType="com.xyf.entity.User">
        SELECT u.user_id userId,u.superior1,u.superior2,u.superior3,u.level from `user` u LEFT JOIN
        (SELECT user_id,superior1,superior2,superior3,level from `user`)
         v on u.user_id = v.user_id OR u.user_id = v.superior1 OR
         u.user_id = v.superior2 OR u.user_id = v.superior3 WHERE v.user_id = #{userId} order by u.user_id
    </select>

</mapper>
